{% load django_bootstrap5 %}
{% comment %} {% extends "webtemplate_dbca/base_b5_auth_session.html" %} {% endcomment %}
{% comment %} {% extends "webtemplate_dbca/base_b5_auth_session.html" %} {% endcomment %}

{% load django_vite %}
{% load static %}
{% load users %}
{% load utils %}
{% load django_bootstrap5 %}

{% is_internal as is_internal_login %}
{% is_feewaiver_admin as is_feewaiver_admin_user %}
{% can_show_tests as show_tests %}
{% system_maintenance_due as system_maintenance_due %}
{% system_name_short as short_name %}
{% dept_name as department_name %}
{% system_name as system_name %}
{% system_name_short as system_name_short %}
{% support_email as support_email %}
{% GIT_COMMIT_HASH as GIT_COMMIT_HASH %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
            <link rel="stylesheet" href="{% static 'feewaiver/css/base.css' %}?ver={{ GIT_COMMIT_HASH }}"/>

            {% block extra_css %}
            {% endblock %}

            {% block extra_js %}
                {% vite_hmr_client %}
            {% endblock %}

            <title>
                {% block title %}
                {{ short_name }} - {{ department_name }}
                {% endblock %}
            </title>
        </meta>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="{% static 'feewaiver/img/favicon.svg' %}">
    </head>
    <body>
        <header class="topmast">
            {% block header %}
                {% include 'feewaiver/header.html' %}
            {% endblock %}
        </header>
        {% block menu %}
            <div class="container-fluid">
                <div class="row">
                    {% if is_internal_login %}
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container">
                            <!-- <div class="navbar-header">
                                <a type="button" class="navbar-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </a>
                                <a class="navbar-brand" href="{% url 'home' %}"><div style="inline"><img src="{% static 'feewaiver/img/dpaw_small.png' %}">home</div></a>
                            </div> -->

                            <a class="navbar-brand" href="{% url 'home' %}">
                                <div class="d-inline-flex align-items-center">
                                    <img src="{% static 'feewaiver/img/dpaw_small.png' %}" alt="logo">
                                    <span class="ms-2">home</span>
                                </div>
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav ms-auto">
                                    {% if request.user.is_authenticated %}
                                        <li class="nav-item">
                                            <a class="nav-link">
                                                welcome
                                                <strong>
                                                    {% if request.user.first_name %}
                                                        {{ request.user.get_short_name }}
                                                    {% elif request.user.last_name %}
                                                        {{ request.user.last_name }}
                                                    {% else %}
                                                        {{ request.user.email }}
                                                    {% endif %}
                                                </strong>
                                            </a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                options
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbardropdown">
                                                {% if is_feewaiver_admin_user or request.user.is_superuser %}
                                                    <li><a class="dropdown-item" href="{% url 'admin:index' %}">admin</a></li>
                                                {% endif %}
                                                {% if show_tests and request.user.is_superuser %}
                                                    <li><a class="dropdown-item" href="{% url 'test-emails' %}">test emails</a></li>
                                                {% endif %}
                                                {% for org in request.user.feewaiver_organisations.all %}
                                                    {% for org_contact in org.contacts.all%}
                                                        {% if org_contact.email == request.user.email %}
                                                            {% if org_contact.user_status == 'active' %}
                                                                {% if org_contact.is_admin or org_contact.check_consultant %}
                                                                    <li><a class="dropdown-item" href="/external/organisations/manage/{{org.id}}">manage {{ org.organisation.name}} </a></li>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" href="{% url 'accounts:logout' %}?next=/">logout</a></li>
                                            </ul>
                                        </li>
                                    {% endif %}
                                    {% block right_menu_items %}
                                    {% endblock %}
                                </ul>
                            </div>
                        </div>
                    </nav>
                    {% endif %}
                </div>
            </div>
        {% endblock %}

        {% block breadcrumbs %}
        {% endblock %}

        {% block messages %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% bootstrap_messages %}
                    </div>
                </div>
            </div>
        {% endblock %}

		{% if system_maintenance_due %}
		    <div class="alert alert-warning">
		    	<strong>notice!</strong> system will be down for maintenance between {{ system_maintenance_due }}
		    </div>
        {% endif %}

        <div class="mt-3">
            {% block content %}
            {% endblock %}
        </div>

        {% block modals %}
        {% endblock %}

        {% bootstrap_javascript %}

        {% block custom_js %}
            {% vite_asset vue3_entry_script %}
        {% endblock %}
    </body>
</html>
